body{
    font-family: Arial sans-serif;
    font-size: 1.2em;
    margin: auto;
}

.drankjes{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1{
    color: #007e7e;
    font-size: 150%;
}

h2{
    color: #007e7e;
    font-size: 130%;
}

section {
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
}

.specials{
    width: 25%;
    padding: 20px;
    float: right;
    text-align: center;
    margin: 15px;
    border: #007e7e solid 1px;
    background-image: url("../Images/cocktail.gif");
    background-repeat: repeat-x;
}



.specials article {
    background-color: #f8f8f8;
    padding: 20px;
}



#guarantee{
    margin: 30px;
    padding: 20px 80px;
    color: #44444444;
    background-color: #A7CECE;
    border: dotted white;
    background-image: url("../Images/background.gif");
    background-repeat: no-repeat;
    font-style: italic;

}

article>h2.geel{
    color: #E8BB00;
}

article>h2.bruin{
    color: #79553D;
}

article>h2.zwart{
    color: black;
}

.link:hover{
    color: saddlebrown;
}

body>footer {
    font-size: 0.6em;
    text-align: center;
}