@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-image: url("../Main_page/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    place-items: center;

}
.container{
    width: 50%;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 800px;
    opacity: 0.8;

}

h1{
    text-align: center;
}

ol{
    margin: 0;
    place-items: center;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1rem;

}

li{
    padding: 1.1rem 1.5rem 1.1rem 1.5rem;
    color: black;
    background: lightskyblue;
    border-radius: 3rem;
    width: 40rem;
    text-align: center;
}

li:hover{
    border: 1px solid;

}

.home{
    margin-top: 50px;
    width: 40rem;
    margin-left: 50px;
    border: none;
    padding: 1.1rem 1.5rem 1.1rem 1.5rem;
    font-weight: bold;
    border-radius: 3rem;
    background: lightskyblue;
    font-size: medium;

}

.home:hover{
    border: 1px solid;
    cursor:pointer;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 768px){

    h1{
        font-size: x-large;
    }

    li{
        width: 15rem;
    }

    .container{
        width: 75%;
        height: 850px;
    }
}
